body {
  background-color: #e6eaed;
    font-family:Arial, Helvetica, sans-serif;
    padding:0;
    margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  background: linear-gradient(202deg, rgba(57,118,212,1) 80%, rgba(30,161,163,1) 100%);
    position: fixed;
    display: flex;
    width: 100%;
    height: 55px;
}
footer {
  width: 100%;
  background: linear-gradient(202deg, rgba(57,118,212,1) 80%, rgba(30,161,163,1) 100%);
  height: 55px;
  text-align: center;
  line-height: 100%;
  font-weight: bold;
  font-size: 36px;
}
.koszyk {
    width: 60px;
    position: relative;
}
main {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 1200px;
}
.logo {
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
    width: fit-content;
    font-size: 54px;
    font-weight: bolder;
}
.searchspace {
    position: relative;
    width: 38%;

}
input {
    outline:none;
    font-size: 110%;
    height: 30px;
    border-radius: 10px;
    border: 2px lightgray solid;
    width: 90%;
}
nav {
    display: flex;;
    width: 60%;
}
.link {
    border-right: 2px solid black;
}
.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
  }
  main {
    padding-top: 70px;
  }
  .icon {
    padding-right: 5px;
    height: 40px;
    width:40px;
  }
  .icon:hover {
    cursor: pointer;
  }
  .vertcenter {
    padding-left: 5px;
    padding-right: 5px;
    height: fit-content;
    width: 100%;
    display: flex;
    margin: 0;
    position: absolute;
    transform: translateY(25%);
  }
  .banner {
    color: darkgrey;
    line-height: 250px;
    background-color: #cceeff;
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
  }
  .productslider {
    border-radius: 10px;
    background: rgb(230,234,237);
    background: linear-gradient(180deg, rgba(230,234,237,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 80%, rgba(230,234,237,1) 100%);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: calc(100% - 20px);
    height: 250px;
  }
  .productcard {
    width: 17%;
    height: 246px;
    padding: 2px;
  }
  .slidercontent {
    width: 100%;
    height: 100%;
    justify-content:space-between;
    display: flex;
  }
  .productimage {
    width: 100%;
    height: 150px;
  }
  .cardtext {
    text-align: left;
  }
  .cardprice {
    margin:0;
    line-height: 100%;
    font-size: 26px;
    color: red;
    font-weight:bold;
  }
  .carddesc {
    line-height: 100%;
  }
  .oldprice {
    font-style: italic;
    color: darkgrey;
    line-height: 50%;
  }
  